body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #101729;
    margin: 0;
    padding: 0;
}
.right-block {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.top-subblock {
    height: 200px;
    display: flex;
    padding: 25px;
    justify-content: space-between;
    background-color: #101729;
    flex-direction: column;
    .top-subblock-content {
        display: flex;
        justify-content: space-between;
    }
    .top-subblock-header {
        color: white;
        font-size: 26px;
        margin-bottom: 25px;
    }
}
.bottom-subblock {
    flex-grow: 1;
    overflow: auto;
    padding: 25px;
    background-color: #101729;
}
.add-button {
    background-color: #2968ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.del-button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.search-bar {
    background-color: #1d283c;
    color: white;
    padding: 10px 25px;
    border: none;
    width: 250px;
    border-radius: 10px;
}
.stat {
    color: white;
    overflow: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #1d283c;
    color: white;
    padding: 10px 20px;
    text-align: left;
    margin-left: 5px;
}

th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

td {
    background-color: transparent;
    color: white;
    padding: 10px 25px;
}